In [1]:
# importa las bibliotecas pandas y numpy
import pandas as pd
import numpy as np

# Lee el archivo de entrada y lo asigna a la variable "df"
ubicacion = "surveys.csv"
df = pd.read_csv(ubicacion)
df.head(116)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
111,112,8,20,1977,23,DM,M,37.0,42.0
112,113,8,20,1977,5,PF,F,13.0,8.0
113,114,8,21,1977,15,DM,F,32.0,NaN
114,115,8,21,1977,21,DM,M,34.0,NaN
115,116,8,21,1977,13,DM,F,37.0,31.0